{% extends 'base.html' %}

{% block content %}
        <div class="middle">
            <section class="content">         
                <article>
                        <section class="mainp">
                            {% for main in mains.all %}
                            <div>
                                <h1>{{ main.title }}</h1>
                                <p> date : {{ main.pub_date }}</p>
                                <p> {{ main.summary }} <a href = "{% url 'post' main.id %}">  더보기</a></p>
                                <br>
                            </div>    
                            {% endfor %}
                        </section>
                </article>
                <aside class="content">
                    <ul class="idpw">
                        <!-- <ul>
                            <li>ID:<input type="text" class="login" name="ID" placeholder="아이디를 입력하시오"></li>
                            <li>PW:</li>
                            <li><input type="text" class="login" name="PW" placeholder="패스워드를 입력하시오"></li>
                        </ul>  -->
                    </ul>
                </aside>
            </section>
        </div>
        
{% endblock %}