<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>99DAYS</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <ul class="listcontainer">
                <li class="list"><a href="{% url 'home.html' %}">메인</a></li>
                <li class="list"><a href="{% url 'post.html' %}">게시물</a></li>
                <li class="list"><a href="#">사용설명서</a></li>
                <li class="list"><a href="#">성취 역사</a></li>
                <li class="list"><a href="#">방명록</a></li>
            </ul>
        </nav>
        <div>
            <header>
                <div class="tlistcontainer">
                    <li class="tlist"></li>
                    <li class="tlist"><h1 id="maintitle">99DAYS DIARY</h1></li>
                    <li class="tlist">            
                        <div class="changebtn">        
                            <input type="button" value="change" onclick="
                            if(document.querySelector('body').dataset.mode ==='night'){
                                    document.querySelector('body').style.backgroundColor= 'black';
                                    document.querySelector('body').style.color = 'white';
                                    document.querySelector('body').dataset.mode = 'day';
                                    this.value='night';
                            }else{
                                    document.querySelector('body').style.backgroundColor= 'white';
                                    document.querySelector('body').style.color = 'black';
                                    document.querySelector('body').dataset.mode = 'night';
                                    this.value = 'day';
                            }">
                            <a href="{% url 'post.html' %}" type="button" id="login" value="Login">Login</a>
                            <a href="#" type="button" value="Signup" id="signup" >Signup</a>                        
                        </div>   
                    </li>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laudantium, facilis veniam neque facere velit corrupti inventore molestias doloribus! Iusto facilis libero ad hic ab! Dolor impedit laudantium asperiores aut!</p>       
            </header>
            <div class="middle">
                <section class="content">         
                    <article>
                        <div>
                            <section id="mainp">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, laborum repellendus alias temporibus earum vitae adipisci magni! Quibusdam, quam eius. Laboriosam, doloremque. Non quaerat ad quae deserunt, accusamus recusandae rerum?
                                    Asperiores, quis mollitia voluptates corporis corrupti aspernatur itaque facere cumque dolorem tenetur officia laboriosam porro repellat? Minima perspiciatis ad corrupti hic excepturi dolores iusto vitae, reprehenderit iste, nulla, cum adipisci!
                                    In odit, vitae debitis corporis provident suscipit doloremque quo est vel veniam, rerum tempore eveniet ab cum rem fugiat facilis, labore excepturi consectetur cupiditate quia animi beatae quos. Libero, ullam?
                                    Neque expedita quisquam minus laborum voluptates. Expedita excepturi deserunt assumenda iusto? Rerum voluptas ratione saepe voluptate. Excepturi aut amet quos modi repellat, explicabo, quam quod debitis rerum, eos aperiam sint.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At ad deserunt laborum vitae, doloribus quam est, nostrum reiciendis excepturi sequi architecto veniam, neque fugit quasi explicabo necessitatibus aut deleniti eaque? 
                                </p>
                            </section>
                        </div>
                    </article>
                    <aside class="content">
                        <ul class="idpw">
                            <ul>
                                <li>ID:<input type="text" class="login" name="ID" placeholder="아이디를 입력하시오"></li>
                                <li>PW:</li>
                                <li><input type="text" class="login" name="PW" placeholder="패스워드를 입력하시오"></li>
                            </ul> 
                        </ul>
                    </aside>
                </section>
            </div>
        </div>
        <footer>
            <ul>
                <div>
                    <li container = "footList">이용약관</li>
                    <li container = "footList">음 그리고</li>
                    <li container = "footList">Contact : qq212420@gmail.com</li>
                    <li container = "footList">&copy; by.euion</li>
                </div>
            </ul>
        </footer>
    </div>
</body>
</html>
