{% extends 'base.html' %}
{% block content %}
    <section id="mainp">
        <h1>{{ main.title }}</h1>
        <p> date : {{ main.pub_date }}</p>
        <div id="mainbody">
            <p> {{ main.body }}</p>
        </div>
        <div class="btncontainer">
            <a href="{% url 'home' %}" type="button" id="backbtn" value="back">돌아가기</a>
            <a href="{% url 'edit' main.id %}" type="button" id="modifybtn" value="modify">수정하기</a>
            <a href="{% url 'delete' main.id %}" type="button" id="deletebtn" value="delete">삭제하기</a>
        </div>
    </section>     
{% endblock %}