body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(56, 56, 56);
    text-decoration: none;
}
ul{
    list-style: none;
    display:inline-block; 
    padding-inline-start: 0px;
}
li{
    list-style: none;
}
nav{
    display: grid;
    grid-template-columns: auto;
}
/* .container>div {
    display : grid;
    grid-template-rows: 100px auto;
} */
.container{
    display: grid;
    grid-template-rows: 40px auto; 
    padding-inline-start: auto;
}
.list:hover{
    background-color: rgba(171, 162, 250, 0.568);
}
.listcontainer{
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.801);
    margin:auto ;
    padding-left: 0;
    height: 40px;
    font-family: 'Song Myung', serif; 
}
.list{
    padding: 1%;
    flex-grow: 1;
    /*display: flex;*/
    text-align: center;
    /*border: 0.2px solid #cbcccc;*/
    font-size: 15px;
    color: rgb(104, 69, 69);
}
.list>a:link{
    text-decoration: none;
    color: rgb(78, 91, 92);
}
#maintitle{
    height: min-content;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: rgb(57, 64, 104);
}
header{
    padding: 1% 1% 1% 1% ;
    background-color: rgb(227, 221, 236);
    text-align: center;
}
header p{
    margin-bottom: 0.5%;
    font-size: x-small;
    padding-bottom: 0;
    color: lightslategray;
}
.changebtn >input{
    float: right;
    margin-top: 0%;
    padding: 10px;
    border-style: none;
    background-color: rgb(245, 243, 236);
    border-radius: 10px; 
    color: rgb(84, 82, 90);
    font-family: 'Song Myung', serif;
    font-size: large; 
}
#login{
    background-color: rgba(240, 128, 128, 0.884);
    color: rgb(250, 244, 240);
    float: right;
    margin-top: 0%;  margin-right: 4%;
    padding: 10px;
    border-style: none;
    border-radius: 10px; 
    font-family: 'Song Myung', serif;
    font-size: large; 
    text-decoration: none;
}
#signup{
    background-color: rgba(128, 148, 240, 0.774);
    color: rgb(250, 244, 240);
    float: right;
    margin-top: 0%;  margin-right: 4%;
    padding: 10px;
    border-style: none;
    border-radius: 10px; 
    font-family: 'Song Myung', serif;
    font-size: large; 
    text-decoration: none;
}

.tlistcontainer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.tlist:nth-child(3){
    justify-content: flex-end;
}

.middle{
    padding: 2%;
    display: grid;
    grid-template-rows: 30% 70%;
}
.content{
    /* padding: 2%;    */
    padding-left: 0;
}
.content:nth-child(1){
    display: flex;
    flex: 3;
} 
.content:nth-child(2){
    display: flex;
    flex-grow: 2;
    margin-left: 2%;
    padding-right: 2%;
}
.idpw{
    margin: 2%;
    width:30%;
}
.login{
    /* text-align: center; */
    height: 40px;
}
#mainp{
    text-align: justify;
    /* border-right:0.2px solid darkgrey; */
}
#mainp> div {
    padding: 2% 5% 2% 5%;
    border: 0.2px solid rgba(104, 112, 129, 0.589);
    border-radius: 20px;
    margin-bottom: 5%;
    
}
#mainp h1 {
    font-family: 'Song Myung', serif;
    font-size: 17pt; 
    color: rgb(80, 91, 150);
}
#mainp p a {
    float: right;
    padding: 4px;
    border-style: none;    
    border-radius: 10px; 
    background-color: rgb(204, 201, 191);
    color: rgb(84, 82, 90);
    font-family: 'Song Myung', serif;
    font-size: large; 
    text-decoration: none;
}
footer ul li{
    display: inline;
}
footer{
    margin: 5%;;
    text-align: center;
    border-top: 0.2px solid #999999;
}

 