<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/new.css' %}">
    <link rel="stylesheet" href="{% static '/css/post.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>99DAYS</title>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <ul class="listcontainer">
                <li class="list"><a href="{% url 'home' %}">메인</a></li>
                <li class="list"><a href="{% url 'new' %}">글쓰기</a></li>
                <li class="list"><a href="#">사용설명서</a></li>
                <li class="list"><a href="#">성취 역사</a></li>
                <li class="list"><a href="#">방명록</a></li>
            </ul>
        </nav>
        <div>
            <header>
                <div class="tlistcontainer">
                    <li class="tlist"></li>
                    <li class="tlist"><h1 id="maintitle">99DAYS DIARY</h1></li>
                    <li class="tlist">            
                        <div class="changebtn">        
                            <input type="button" value="change" onclick="
                            if(document.querySelector('body').dataset.mode ==='night'){
                                    document.querySelector('body').style.backgroundColor= 'black';
                                    document.querySelector('body').style.color = 'white';
                                    document.querySelector('body').dataset.mode = 'day';
                                    this.value='night';
                            }else{
                                    document.querySelector('body').style.backgroundColor= 'white';
                                    document.querySelector('body').style.color = 'black';
                                    document.querySelector('body').dataset.mode = 'night';
                                    this.value = 'day';
                            }">
                            <a href="{% url 'login' %}" type="button" id="login" value="Login">Login</a> <!--여기 post.html 들어가야 하는 자리임-->
                            <a href="{% url 'signup' %}" type="button" value="Signup" id="signup" >Signup</a>                        
                        </div>   
                    </li>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laudantium, facilis veniam neque facere velit corrupti inventore molestias doloribus! Iusto facilis libero ad hic ab! Dolor impedit laudantium asperiores aut!</p>       
            </header>
            <section class="mainp">
                        {% block content %}
                        {% endblock %}
            </section>
        </div>
        <footer>
            <ul>
                <div>
                    <li container = "footList">이용약관</li>
                    <li container = "footList">음 그리고</li>
                    <li container = "footList">Contact : qq212420@gmail.com</li>
                    <li container = "footList">&copy; by.euion</li>
                </div>
            </ul>
        </footer>
    </div>
</body>
</html>
